<div class="row" *ngIf="item != null">
    <div class="col-5">
        <img [src]="'./assets/images/mock/' + item.usuario.imagem" [alt]="item.usuario.imagem" class="block m-auto pb-3" *ngIf="item.usuario.imagem" />
        
    </div>
    <div class="col-7">
        <div class="field">
            <label for="nome">Nome:</label>
            <input type="text" pInputText id="nome" [(ngModel)]="item.usuario.nome" required autofocus />
            <small class="p-error" *ngIf="submitted && !item.usuario.nome">Name is required.</small>
        </div>
        <div class="field">
            <label for="nascimento">Nascimento?:</label>
            <p-calendar [(ngModel)]="item.usuario.nascimento" dateFormat="dd.mm.yy"></p-calendar>
        </div>
        <div class="field">
            <label for="cpf">CPF?:</label>
            <input type="text" pInputText id="cpf" [(ngModel)]="item.usuario.cpf" required autofocus />
            <small class="p-error" *ngIf="submitted && !item.usuario.cpf">Apelido is required.</small>
        </div>
    </div>
    <div class="col-12">
        <div class="field">
            <label for="permissoes">Permissôes:</label>
            <p-multiSelect [options]="permissoes" [(ngModel)]="item.usuario.permissoes" itemSize="200"></p-multiSelect>
        </div>
    </div>
    <div class="col-12">
        <div class="field">
            <label for="apelido">Apelido:</label>
            <input type="text" pInputText id="apelido" [(ngModel)]="item.usuario.apelido" required autofocus />
            <small class="p-error" *ngIf="submitted && !item.usuario.apelido">Apelido is required.</small>
        </div>
    </div>
    <div class="col-6">
        <div class="field">
            <label for="login.email">E-mail:</label>
            <input type="text" pInputText id="contato.email" [(ngModel)]="item.usuario.contato.email" required autofocus />
            <small class="p-error" *ngIf="submitted && !item.usuario.contato.email">Apelido is required.</small>
        </div>
    </div>
    <div class="col-6">
        <div class="field">
            <label for="login.email">Username:</label>
            <input type="text" pInputText id="login.username" [(ngModel)]="item.usuario.login.username" required autofocus />
            <small class="p-error" *ngIf="submitted && !item.usuario.login.username">Apelido is required.</small>
        </div>
    </div>
    
    <div class="col-12"><h2 style="min-height: 70px;"></h2></div>
</div>