.p-breadcrumb .p-breadcrumb-chevron:before {
  content: "-" !important;
}


h4 {
  font-family: 'Chewy'; 
  font-size: 40px                    
}

h1 {
  font-family: 'Chewy'; 
  font-size: 50px                    
}

p {
  font-family: 'Pompiere'; 
  font-size: 30px
}


.faixa_estaria_mini {
  padding: 20px 8px 20px 8px; 
  cursor: auto;
  position: relative; 
   top: -340px;
  height: 0px;  
  margin-left: 83%;  
  font-size: larger; 
  font-weight: bold;                              
}