<div class="row">
    <div class="col-md-1" style="position: static;">
        <app-menu-lateral-faturamento></app-menu-lateral-faturamento>
    </div>
    <div class="col-md-10">
        <div class="card flex justify-content-center">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
        </div>
        <p-card header="Faturamento de Produtos">

            <p-toolbar *ngIf="!editando">
                
                   
                <div class="col-3">
                    <p-dropdown [options]="listaCategoria" 
                                [(ngModel)]="itemCategoria" 
                                [showClear]="true" 
                                [style]="{'width':'100%'}"
                                placeholder="Selecione o tipo de faturamento no tempo"
                                optionLabel="titulo">
                    </p-dropdown>
                </div>
                <div class="col-3">
                    <p-dropdown [options]="['Quantidade', 'Valor']" 
                                [(ngModel)]="itemQuantidadeValor" 
                                [showClear]="true" 
                                [style]="{'width':'100%'}"
                                placeholder="Selecione o deve levar em consideração">
                    </p-dropdown>
                </div>

                    <div class="col-2">
                        <div>
                            <p-calendar [(ngModel)]="data_inicio" view="month" dateFormat="mm/yy"  required autofocus  placeholder="Data Inicial"></p-calendar>
                            <small class="p-error" *ngIf="submitted && !data_inicio">Data Inicio is required.</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div>
                            <p-calendar [(ngModel)]="data_final" view="month" dateFormat="mm/yy"  required autofocus placeholder="Data Final"></p-calendar>
                            <small class="p-error" *ngIf="submitted && !data_final">Data final is required.</small>
                        </div>
                                 
                    </div>
                    <div class="col-1">
                        <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-success mr-2" (click)="getEvents()"></button>
                                 
                    </div>
                
            
            </p-toolbar>
            <br>
            
            <div class="row" *ngIf="itemCategoria != null && item != null && itemQuantidadeValor != null">
                <div class="col-3"></div>
                <div class="col-6">
                    <h5 style="text-align: center;">Valor Total = {{item.valor_total | currency: 'BRL'}} - Quantidade Total = {{item.quantidade_total}}</h5>
                    <button pButton (click)="getSaibaMais(item)" label="Saiba mais"  class="p-button-text"></button>
                    <p-chart type="polarArea" [data]="data" [options]="options"></p-chart>
                </div>
                <div class="col-3"></div>
            </div>
            

    
    <p-confirmDialog [style]="{ width: '40%' }"></p-confirmDialog>

</p-card>

</div>
<p-dialog *ngIf="item != null" [(visible)]="dialog" [style]="{ width: '80%' }" [header]="itemCategoria.titulo" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
            <h6 style="text-align: center;">{{itemCategoria.descricao}}</h6>
            <h6 style="text-align: center;">Valor Total = {{item.valor_total | currency: 'BRL'}} - Quantidade Total = {{item.quantidade_total}}</h6>
        
        <!-- tabelinha a seguir -->
        <br>
        <div class="card">
            <p-toast></p-toast>

            <p-table
                #dt
                [value]="item.itens"
                [rows]="10"
                [paginator]="true"
                [globalFilterFields]="['nome', 'descricao', 'valor', 'quantidade']"
                [tableStyle]="{ 'min-width': '75rem' }"
                [(selection)]="selecteds"
                [rowHover]="true"
                dataKey="id"
                currentPageReportTemplate="{first} à {last} de {totalRecords}"
                [showCurrentPageReport]="true"
            >
                <ng-template pTemplate="caption">
                        <p-toolbar>
                            <ng-template pTemplate="left">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                                </span>
                            </ng-template>
                    
                            <ng-template pTemplate="right">
                                <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importar" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                                <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"></button>
                            </ng-template>
                        </p-toolbar>
                    
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th style="width: 4rem">Imagem</th>
                        <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                        <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon></th>
                        <th pSortableColumn="valor">Valor Arrecadado <p-sortIcon field="valor"></p-sortIcon></th>
                        <th pSortableColumn="quantidade">Quantidade Vendida <p-sortIcon field="quantidade"></p-sortIcon></th>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                        </td>
                        <td><img [src]="'./assets/images/mock/' + item.imagem" [alt]="item.nome" width="50" class="shadow-4" /></td>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.descricao }}</td>
                        <td>{{ item.valor | currency:'BRL' }}</td>
                        <td>{{ item.quantidade }}</td>
                       
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">Total: {{ lista ? lista.length : 0 }}</div>
                </ng-template>
            </p-table>
        </div>
        
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
</div>