    
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        
        <div class="row">
        <div class="col-md-12" *ngFor="let item of lista" >
            <div *ngIf="lista != null">
                <div style="cursor: grab;">

                    <div class="relative mx-auto">
                        <div class="polaroid">
                            <img [src]="'./assets/images/eventos/' + item.imagem_principal" alt="5 Terre" style="width:100%; height: 433px; object-fit: cover;">
                            <div class="container" >
                                <h4>{{ item.nome }}</h4>

                                <div class="row" style="position: relative; top: -333px; left: 44%; height: 0px; " >
                                    <div class="col-3" *ngFor="let itemPromo of item.promocoes" >
                                        <div *ngIf="item.promocoes != null">
                                                <div class="relative mx-auto">
                                                    <div class="polaroid">
                                                        <img [src]="'./assets/images/eventos/' + itemPromo.imagem_principal" alt="5 Terre" style="width:100%; height: 133px; object-fit: cover;">
                                                        <div class="container" >
                                                            <h5>{{ itemPromo.nome }}</h5>
                                                            <p>{{ itemPromo.valor | currency:'BRL' }}</p>
                                                            
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>  
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div  style="position: relative; top: -80px;height: 0px; "  >
                        <button pButton pRipple class="p-button-success mr-2 faixa_estaria_mini"  
                                style="background-color: {{getFaixaEtariaColorByFaixa(item.faixa_etaria)}}; border:{{getFaixaEtariaColorByFaixa(item.faixa_etaria)}}">
                                                {{item.faixa_etaria}}
                                        </button>
                    </div>
                    
                    <div style="position: relative; top: -535px; left: 95%; height: 0px; " >
                        <div style="position: relative; top: -6px; height: 0px; " >
                            <button pButton pRipple icon="pi pi-clock" class="p-button-rounded p-button-success mr-2" pTooltip="Início: {{ item.data_inicio | date:'dd/MM/yy hh:mm' }}"></button>
                        </div>
                        <div style="position: relative; top: 44px; height: 0px; " >
                            <button pButton pRipple icon="pi pi-clock" class="p-button-rounded p-button-danger mr-2" pTooltip="Fim: {{ item.data_fim | date:'dd/MM/yy hh:mm' }} "></button>
                        </div>
                        <div style="position: relative; top: 94px; height: 0px; " >
                            <button pButton pRipple icon="pi pi-calendar" class="p-button-rounded p-button-help mr-2" pTooltip="Tipo de Evento: {{ item.tipo }}"></button>
                        </div>
                        <div style="position: relative; top: 144px; height: 0px; " >
                            <button pButton pRipple icon="pi pi-shopping-cart" class="p-button-rounded p-button-warning mr-2" pTooltip="Lote: {{ item.lote_atual.nome }}"></button>
                        </div>
                        <div style="position: relative; top: 194px; height: 0px; " >
                            <button pButton pRipple icon="pi pi-dollar" class="p-button-rounded p-button-rounded mr-2" pTooltip="Valores: {{ item.lote_atual.valor_padrao | currency:'BRL' }}"></button>
                        </div>
                    </div>

                    
                </div>
                
            </div>
        </div>            
    </div>
    </div>


    

   
</div>





<p-confirmDialog [style]="{ width: '40%' }"></p-confirmDialog>
