
<div class="row" >

    <div class="col-6">
        <div class="field">
            <label for="codigo">Código:</label>
            <input type="text" pInputText id="codigo" [(ngModel)]="item.codigo" required autofocus [disabled]="!editando" />
            <small class="p-error" *ngIf="submitted && !item.codigo">codigo is required.</small>
        </div>
    </div>
    <div class="col-6">
        <div class="field">
            <label for="validade">Validade?:</label>
            <p-calendar [(ngModel)]="item.validade" dateFormat="dd/mm/yy"  required autofocus  [disabled]="!editando" [touchUI]="true" ></p-calendar>
            <small class="p-error" *ngIf="submitted && !item.validade">validade is required.</small>
        </div>
    </div>
    <div class="col-4">
        <div class="field">
            <label for="desconto.tipo">Tipo de Desconto:</label>
            <p-dropdown placeholder="Selecione o tipo de desconto"
                    [options]="listaTipoDesconto" 
                    [(ngModel)]="item.desconto.tipo" 
                    [showClear]="true" 
                    [style]="{'width':'100%'}"
                    [disabled]="!editando" >
        </p-dropdown>
            <small class="p-error" *ngIf="submitted && !item.desconto.tipo">desconto is required.</small>
        </div>
    </div>
    <div class="col-4">
        <div class="field">
            <label *ngIf="tipoPorcentagem(item)" for="desconto">Porcentagem do Desconto:</label>
            <label *ngIf="!tipoPorcentagem(item)" for="desconto">Valor do Desconto:</label>
            <input type="number" pInputText id="desconto.valor" [(ngModel)]="item.desconto.valor" required autofocus  [disabled]="!editando"/>
            <small class="p-error" *ngIf="submitted && !item.desconto">desconto is required.</small>
        </div>
    </div>
    <div class="col-4">
        <div class="field">
            <label for="valor_minimo_gasto">Valor Mínimo Gasto:</label>
            <input type="number" pInputText id="valor_minimo_gasto" [(ngModel)]="item.valor_minimo_gasto" required autofocus [disabled]="!editando" />
            <small class="p-error" *ngIf="submitted && !item.valor_minimo_gasto">Valor Mínimo Gasto is required.</small>
        </div>
    </div>
    

</div>

