<div class="row" *ngIf="item != null">
                    <div class="col-12">
                        <div class="field" style="padding-left: 13px;">
                            <label for="fundado_em">
                                Quantidade máxima de usuários permitidos: 
                            </label>
                            <input type="number" pInputText id="codigo" [(ngModel)]="item.quant_usuarios_max" required autofocus />
                        </div>
                    </div> 
                <div class="col-2">
                    <div class="field" style="padding-left: 13px;">
                        <label for="fundado_em">
                            <i class="pi pi-info-circle" style="padding-right: 5px;" [pTooltip]="item.gerenciamento_de_permissoes_def"></i>
                            Gerencia permissões: 
                        </label>
                        <br>
                        <p-inputSwitch [(ngModel)]="item.gerenciamento_de_permissoes"></p-inputSwitch>
                    </div>
                </div>

                <div class="col-2">
                    <div class="field">
                        <label for="fundado_em">
                            <i class="pi pi-info-circle" style="padding-right: 5px;" [pTooltip]="item.gerencia_produtos_def"></i>
                            Gerencia produtos:</label>
                        <br>
                        <p-inputSwitch [(ngModel)]="item.gerencia_produtos"></p-inputSwitch>
                    </div>
                </div>

                <div class="col-2">
                    <div class="field">
                        <label for="fundado_em">
                            <i class="pi pi-info-circle" style="padding-right: 5px;" [pTooltip]="item.gerencia_parceiros_def"></i>
                            Gerencia parceiros:</label>
                        <br>
                        <p-inputSwitch [(ngModel)]="item.gerencia_parceiros"></p-inputSwitch>
                    </div>
                </div>

                <div class="col-2">
                    <div class="field">
                        <label for="fundado_em">
                            <i class="pi pi-info-circle" style="padding-right: 5px;" [pTooltip]="item.mostra_ranking_def"></i>
                            Mostra Ranking:</label>
                        <br>
                        <p-inputSwitch [(ngModel)]="item.mostra_ranking" disabled></p-inputSwitch>
                    </div>
                </div>
                <div class="col-2">
                    <div class="field">
                        <label for="fundado_em">
                            <i class="pi pi-info-circle" style="padding-right: 5px;" [pTooltip]="item.usa_base_dados_bee_bear_def"></i>
                            Usa Base de Dados:</label>
                        <br>
                        <p-inputSwitch [(ngModel)]="item.usa_base_dados_bee_bear"></p-inputSwitch>
                    </div>
                </div>

                <div class="col-2">
                    <div class="field">
                        <label for="fundado_em">
                            <i class="pi pi-info-circle" style="padding-right: 5px;" [pTooltip]="item.mostra_informacoes_gerais_bee_bear_def"></i>
                            Mostra Informações Gerais:</label>
                        <br>
                        <p-inputSwitch [(ngModel)]="item.mostra_informacoes_gerais_bee_bear" disabled></p-inputSwitch>
                    </div>
                </div>
</div>
