<div class="row">
    <div class="col-md-1" style="position: static;">
    </div>
    <div class="col-md-10">
        <div class="card flex justify-content-center">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
        </div>
        <p-card header="Cadastro">


            
            <p-carousel [value]="items2" [numVisible]="5" [numScroll]="5" [circular]="false" [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
                <ng-template let-pagina pTemplate="item">
                    <div class="pagina-item" (click)="abrirLink(pagina.url)" style="border: 0px;">
                        <div class="pagina-item-content"  style="border: 0px;">
                            <div class="mb-3" style="cursor: grab;">
                                <div class="relative mx-auto">
                                    <div class="polaroid">
                                        <img [src]="pagina.icon" alt="5 Terre" style="width:100%; height: 350px; object-fit: cover;">
                                        <div class="container">
                                            <h5>{{ pagina.label }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </ng-template>
            </p-carousel>

            
        </p-card>

    </div>
    <div class="col-md-1"></div>
</div>

