<div class="row">

    <div class="col-6">
        <div class="field">
            <label for="nome">Nome:</label>
            <input type="text" pInputText id="nome" [(ngModel)]="item.nome" required autofocus />
            <small class="p-error" *ngIf="submitted && !item.nome">nome is required.</small>
        </div>
    </div>
    <div class="col-6">
        <div class="field">
            <label for="permissoes">Tipo de Ingresso:</label>
            <p-dropdown [options]="listaTipo" 
                    [(ngModel)]="item.tipo" 
                    [showClear]="true" 
                    [style]="{'width':'100%'}"
                    placeholder="Selecione o tipo de Ingresso">
            </p-dropdown>
        </div>
    </div>
    <div class="col-12">
        <div class="field">
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" pInputTextarea [(ngModel)]="item.descricao" required rows="3" cols="20"></textarea>
            <small class="p-error" *ngIf="submitted && !item.descricao">descricao is required.</small>
        </div>
    </div>
    <div class="col-6">
        <div class="field">
            <label for="valor_padrao_lote">Valor Padrão do Lote:</label>
            <input type="number" pInputText id="valor_padrao_lote" [(ngModel)]="valor_padrao_lote" required autofocus disabled />
            <small class="p-error" *ngIf="submitted && !valor_padrao_lote">valor_padrao_lote is required.</small>
        </div>
    </div>  
    <div class="col-6">
        <div class="field">
            <label for="valor">Valor do Ingresso:</label>
            <input type="number" pInputText id="valor" [(ngModel)]="item.valor" required autofocus />
            <small class="p-error" *ngIf="submitted && !item.valor">quantidade is required.</small>
        </div>
    </div>   
    <div class="col-12">
        <div class="field">
            <label for="doacao_necessaria">Doação Necessária:</label>
            <input type="text" pInputText id="doacao_necessaria" [(ngModel)]="item.doacao_necessaria" required autofocus />
            <small class="p-error" *ngIf="submitted && !item.doacao_necessaria">doacao_necessaria is required.</small>
        </div>
    </div> 
    
    

</div>
