<div class="row">
    <div class="col-md-1" style="position: static;">
        <app-menu-lateral-faturamento></app-menu-lateral-faturamento>
    </div>
    <div class="col-md-10">
        <div class="card flex justify-content-center">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
        </div>
        <p-card header="Faturamento Geral">

            <p-toolbar *ngIf="!editando">
                <div class="row">
                   
                <div class="col-4">
                    <p-dropdown [options]="listaCategoria" 
                                [(ngModel)]="itemCategoria" 
                                [showClear]="true" 
                                [style]="{'width':'100%'}"
                                placeholder="Selecione o tipo de faturamento no tempo"
                                optionLabel="titulo">
                    </p-dropdown>
                </div>

                <div class="col-3">
                    <p-dropdown [options]="['Quantidade', 'Valor']" 
                                [(ngModel)]="itemQuantidadeValor" 
                                [showClear]="true" 
                                [style]="{'width':'100%'}"
                                placeholder="Selecione o deve levar em consideração">
                    </p-dropdown>
                </div>

                    <div class="col-2">
                        <div>
                            <p-calendar [(ngModel)]="data_inicio" view="month" dateFormat="mm/yy"  required autofocus  placeholder="Data Inicial"></p-calendar>
                            <small class="p-error" *ngIf="submitted && !data_inicio">Data Inicio is required.</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div>
                            <p-calendar [(ngModel)]="data_final" view="month" dateFormat="mm/yy"  required autofocus placeholder="Data Final"></p-calendar>
                            <small class="p-error" *ngIf="submitted && !data_final">Data final is required.</small>
                        </div>
                                 
                    </div>
                    <div class="col-1">
                        <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-success mr-2" (click)="getEvents()"></button>
                                 
                    </div>
                </div>
            
            </p-toolbar>
            <br>
            
            <div class="card" *ngIf="itemCategoria != null && itemQuantidadeValor != null">
                <p-chart type="line" [data]="data" [options]="options"></p-chart>
            </div>
            

    
    <p-confirmDialog [style]="{ width: '40%' }"></p-confirmDialog>

</p-card>

</div>
<p-dialog *ngIf="item != null" [(visible)]="dialog" [style]="{ width: '80%' }" [header]="item.titulo" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-toolbar>
            <h5>{{item.descricao}}</h5>
        </p-toolbar>
        <p-carousel 
        [value]="[item.item_1, item.item_2, item.item_3]" 
        [numVisible]="4" 
        [numScroll]="4" 
        [circular]="true" 
        [responsiveOptions]="responsiveOptions">
            <ng-template let-itemInterno pTemplate="itemInterno">
                <div class="border-1 surface-border border-round m-2 p-3">
                    <div class="mb-3">
                        <div class="relative mx-auto">
                            <div class="polaroid">
                                <img [src]="'./assets/images/mock/' + itemInterno.imagem" alt="5 Terre" style="width:100%; height: 350px; object-fit: cover;">
                                <div class="container">
                                    <h5>{{ itemInterno.nome }}</h5>
                                    <h6>Pontuação: <small style="font-size: xx-large;">{{itemInterno.quantidade}}</small> {{itemCategoria.afetado}}</h6>
                                    <p>{{ itemInterno.descricao }}</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <button pButton icon="pi pi-eye" class="p-button-rounded p-button-rounded mr-2" (click)="acessar(itemInterno)" style="left: 444px; top: -130px;"></button>
                    
                    <div class="flex justify-content-between align-items-center">
                    <div class="mt-0 font-semibold text-xl">
                    
                    </div>
                    </div>
                </div>
            </ng-template>
    </p-carousel>
        
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
</div>