/* You can add global styles to this file, and also import other style files */
.p-breadcrumb .p-breadcrumb-chevron:before {
    content: "" !important;
}

.p-inputtext {
    width: 100%;
}

.row {
    margin-bottom: 15px;
}

.p-datatable .p-datatable-header {
    border: 0px;
    border-width: 0 0 0 0; 
    padding: 0rem 0rem; 
}

.p-progressbar .p-progressbar-value {
    background: #007bff;
}

img {
    max-width: 100%;
}

.field {
    margin-bottom: 10px;
}

.p-inputswitch .p-inputswitch-slider:before {
    border-radius: 15px;
}

.p-inputswitch .p-inputswitch-slider {
    border-radius: 15px;
}

.p-dialog {
    min-height: 50%;
  }

  div.polaroid {
    width: 100%;
    max-height: 0%;
    display:inline-block;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

  .teste{
    width: 100%;
    display:inline-block;
  }

  .p-carousel .p-carousel-indicators {
    padding-bottom: 1rem !important;
    padding-top: 0px !important;
  }

  div.polaroid {
    margin-bottom: 0px;
  }

  .ui-dropdown .ui-dropdown-panel {
    min-width: 100%;
    width: max-content;
  }

  // .p-carousel-items-content {
  //   height: 433px !important;
  // }
  